body {
    background-color: powderblue;
    color: whitesmoke;
    font-family: Avenir;
    font-size: 100%;
    padding: 20px;
}
a {text-decoration: none;}
a:visited {color: whitesmoke}
a:hover {color: coral}
a:active {color: whitesmoke}

input
{
    position: fixed; left: 130px;
    margin-bottom: 10px;
}

select
{
    position: fixed; left: 130px;
    margin-bottom: 10px;
    padding: 10px;
}

