<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Art App</title>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{css/style.css}" rel="stylesheet"/>

    <style>
        body {background:powderblue url("../css/memling.jpg") no-repeat center;
            background-size: 100%;
            background-position: 50% 20%;
        }
    </style>

</head>
<body>
<h1>Welcome to ArtApp</h1>

<h2><a th:href="@{/login}">Login here</a></h2>
<h2><a th:href="@{/registration}">Register here</a></h2>
</body>
</html>