<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page For ArtApp</title>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{css/style.css}" rel="stylesheet" />

    <style>
        body {background:powderblue url("../css/dix.jpg") no-repeat center;
            background-size: 100%;
            background-position: 40% 10%;
        }
    </style>

</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<h1>Zaloguj</h1>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Zaloguj"/></div>
</form>
</body>
</html>