<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page For ArtApp</title>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
    <!--<script type="text/javascript" th:src="@{typeOfUserx}" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
        body {background:powderblue url("../css/titian.jpg") no-repeat center;
            background-size: 100%;
            background-position: 50% 10%;
        }
    </style>

</head>
<body>
<h1>Zarejestruj się</h1>

<form th:action="@{/registration}"
      th:object="${artAppUserForm}" method="POST">
    Username:
    <input type="text" th:field="*{username}" />
    <br/>
    First Name:
    <input type="text" th:field="*{firstName}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}" />
    <br/>
    Password:
    <input type="password" name="password" th:field="*{password}" />
    <br/>
    Email:
    <input type="text" th:field="*{email}" />
    <br/>
    Type of User:
    <select id="userType" name="role" th:field="*{role}">
        <option value=""></option>
        <option value="ARTIST">Artist</option>
        <option value="COLLECTOR">Collector</option>
    </select>
    <br/>

    <div id = "artist">
        Date of birth (yyyy-mm-dd):
        <br/>
        <input type="text" th:field="*{artistForm.dateOfBirth}" />
        <br/>
        City of birth:
        <input type="text" th:field="*{artistForm.cityOfBirth}" />
        <br/>
        Academy:
        <input type="text" th:field="*{artistForm.academy}" />
        <br/>
        Description:
        <div class="form-group">
            <textarea class="form-control" id="descritpionTextArea" rows="3" th:field="*{artistForm.description}"></textarea>
        </div>


        <br/>
    </div>


    <div id = "collector">

        Type of art, that you're interested in:
    <br/>
        <select name="typeOfArt" th:field="*{collectorForm.typesOfArt}">
            <option value="SCULPTURE">Sculpture</option>
            <option value="PAINTING">Painting</option>
            <option value="PHOTOGRAPHY">Photography</option>
            <option value="ARCHITECTURE">Architecture</option>
            <option value="INSTALATIONS">Instalations</option>
        </select>
    </div>
    <input type="submit" value="Zarejestruj" />

</form>


    <script>
        $(document).ready(function() {


        $('#artist').hide();
        $('#collector').hide();

        $('#userType').on('change', function() {
            var userTypeValue = $('#userType').val();
            if (userTypeValue  == "ARTIST") {
                alert("Please fill in an artist form. ");
                $('#artist').show();
                $('#collector').hide();
            } else if (userTypeValue  == "COLLECTOR") {
                alert("Please fill in a collector form. ");
                $('#artist').hide();
                $('#collector').show ();
            }
        });
        })
    </script>

    </br>


<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>