<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>User Page</title>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{css/style.css}" rel="stylesheet" />

</head>
<body>
<p>
    Welcome!
</p>

<p><a th:href="@{/logout}">Log out</a></p>
</body>
</html>